body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    text-align: center;

    background-image: url("971.jpg");
    background-size: 100%;
    background-position: center center;
    background-position-y: -120px;
}

h1 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#mensagem {
    color: #007BFF;
    font-weight: bold;
}

#textoAlterado {
    color: #f0f0f0;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    color: #f0f0f0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

p {
    color: #f0f0f0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
